body {
    margin: 0;
    font-family: Arial;
    transition: 0.5s;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(45deg, purple, blue);
    color: white;
}

.mode-btn {
    padding: 10px;
    cursor: pointer;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    transition: 0.4s;
    animation: fadeIn 1s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

iframe {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.dark {
    background: #111;
    color: white;
}

.dark .card {
    background: #222;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
.game-buttons{
    margin-top:10px;
}

.game-buttons button{
    padding:10px 20px;
    margin:5px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
    background:linear-gradient(45deg, blue, purple);
    color:white;
    transition:0.3s;
}

.game-buttons button:hover{
    transform:scale(1.1);
}